<nav class="navbar fixed-top grad">
  <div class="d-flex align-items-center navbar-left">
    <a
      (click)="mobileMenuButtonClick($event, sidebar.containerClassnames)"
      href="javascript:;"
      class="menu-button-mobile d-xs-block d-sm-block d-md-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
        <rect x="0.5" y="0.5" width="25" height="1" />
        <rect x="0.5" y="7.5" width="25" height="1" />
        <rect x="0.5" y="15.5" width="25" height="1" />
      </svg>
    </a>

    <a class="navbar-logo ml-5" [routerLink]="'/'">
      <span class="logo d-none d-xs-block"></span>
      <span class="logo-mobile d-block d-xs-none"></span>
    </a>
  </div>

  <div class="navbar-right">
    <div class="user d-inline-block" dropdown>
      <button *ngIf="!authService.user" routerLink="/user/login" class="btn btn-outline-primary" type="button">Login/Register</button>

      <button *ngIf="authService.user" class="btn btn-empty p-0" type="button" dropdownToggle>
        <span class="name">{{ authService.user?.displayName }}</span>
        <span>
          <img alt="Profile Picture" [src]="authService.user.photoURL ? authService.user.photoURL : '/assets/img/profiles/l-1.jpg'" />
        </span>
      </button>

      <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu role="menu">
        <a *ngIf="authService.user?.role == role.Admin" class="dropdown-item c-pointer" (click)="adminPanel()">Admin Panel</a>
        <!-- <a class="dropdown-item c-pointer">Account</a> -->
        <!-- <a class="dropdown-item c-pointer">Features</a>
        <a class="dropdown-item c-pointer">History</a>
        <a class="dropdown-item c-pointer">Support</a> -->
        <li class="divider dropdown-divider"></li>
        <a class="dropdown-item c-pointer" (click)="onSignOut()">Sign out</a>
      </div>
    </div>
  </div>
</nav>
