<mat-tab-group animationDuration="0ms" [selectedIndex]="0" style="height: 100%">
  <mat-tab label="First" style="height: 100%">
    <ng-template mat-tab-label>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px" style="margin-right: 5px">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        />
      </svg>
      Browse
    </ng-template>
    <perfect-scrollbar style="height: 100%" [config]="{ suppressScrollX: true, wheelPropagation: false }">
      <div id="gridContainer" class="grid-container">
        <ng-container *ngFor="let item of templates; let i = index">
          <div style="position: relative">
            <img
              [id]="'templateThumbnail' + i"
              class="grid-item"
              [lazyLoad]="item.thumbnail"
              [ngStyle]="{ height: item.height * ratios[i] + padding * 2 + 'px' }"
              width="auto"
              (click)="addTemplatePage(item)"
            />
          </div>
        </ng-container></div
    ></perfect-scrollbar>
  </mat-tab>
  <mat-tab label="Second" [disabled]="currentRole == role.Admin">
    <ng-template mat-tab-label>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px" style="margin-right: 5px">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
        />
      </svg>
      My Template
    </ng-template>
    <perfect-scrollbar style="height: calc(100% - 50px)" [config]="{ suppressScrollX: true, wheelPropagation: false }">
      <div id="gridContainer" class="grid-container">
        <ng-container *ngFor="let item of userTemplates; let i = index">
          <div style="position: relative">
            <img
              [id]="'usertemplateThumbnail' + i"
              class="grid-item"
              [lazyLoad]="item.thumbnail"
              [ngStyle]="{ height: item.height * userRatios[i] + padding * 2 + 'px' }"
              width="auto"
              (click)="addUserTemplatePage(i)"
            />
          </div>
        </ng-container>
      </div>
    </perfect-scrollbar>
  </mat-tab>
</mat-tab-group>
