<perfect-scrollbar>
  <div
    style="
      padding: 20px;
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: repeat(50px);
      grid-row-gap: 50px;
      align-items: center;
    "
    *ngIf="ds.filterObj"
  >
    <label>Brightness</label>

    <nouislider
      [min]="ds.filterObj.params.brightness[0]"
      [max]="ds.filterObj.params.brightness[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.brightness"
      (update)="onChangeObj($event)"
    ></nouislider>

    <label>Contrast</label>

    <nouislider
      [min]="ds.filterObj.params.contrast[0]"
      [max]="ds.filterObj.params.contrast[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.contrast"
      (update)="onChangeObj($event)"
    ></nouislider>

    <label>Saturate</label>

    <nouislider
      [min]="ds.filterObj.params.saturate[0]"
      [max]="ds.filterObj.params.saturate[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.saturate"
      (update)="onChangeObj($event)"
    ></nouislider>

    <label>Sepia</label>

    <nouislider
      [min]="ds.filterObj.params.sepia[0]"
      [max]="ds.filterObj.params.sepia[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.sepia"
      (update)="onChangeObj($event)"
    ></nouislider>

    <label>Grayscale</label>

    <nouislider
      [min]="ds.filterObj.params.grayscale[0]"
      [max]="ds.filterObj.params.grayscale[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.grayscale"
      (update)="onChangeObj($event)"
    ></nouislider>

    <!-- <label>Hue rotate</label>

  <nouislider
    [min]="ds.filterObj.params.hue[0]"
    [max]="ds.filterObj.params.hue[1]"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="ds.filterObj.hue"
    (dirChange)="onChangeObj($event)"
  ></nouislider> -->

    <label>Blur</label>

    <nouislider
      [min]="ds.filterObj.params.blur[0]"
      [max]="ds.filterObj.params.blur[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.blur"
      (update)="onChangeObj($event)"
    ></nouislider>

    <label>Invert</label>

    <nouislider
      [min]="ds.filterObj.params.invert[0]"
      [max]="ds.filterObj.params.invert[1]"
      [tooltips]="true"
      [step]="1"
      [(ngModel)]="ds.filterObj.invert"
      (update)="onChangeObj($event)"
    ></nouislider>
  </div>
</perfect-scrollbar>
