<div class="menu" (click)="menuClicked($event)">
  <div class="main-menu">
    <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true, wheelPropagation: false }">
      <ul class="list-unstyled">
        <li *ngFor="let item of menuItems; let i = index" [ngClass]="{ active: !ds.isToolpanel() && i == theId }">
          <a href="javascript:;" (click)="menuItemClicked($event, item, i)" style="font-size: smaller">
            <i *ngIf="item.label == 'Text'">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M18 5.5h-5.25V18c0 .28.22.5.5.5h2a.75.75 0 1 1 0 1.5h-6.5a.75.75 0 1 1 0-1.5h2a.5.5 0 0 0 .5-.5V5.5H6a.5.5 0 0 0-.5.5v1.25a.75.75 0 0 1-1.5 0V5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v1.75a.75.75 0 1 1-1.5 0V6a.5.5 0 0 0-.5-.5z"
                ></path>
              </svg>
            </i>
            <i *ngIf="item.label != 'Text'" [ngClass]="item.icon" style="font-size: x-large"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
  <div id="sub-menu" class="sub-menu" style="padding: 10px 20px">
    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Uploads' ? 'block' : 'none'
      }"
    >
      <user-uploads></user-uploads>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Photos' ? 'block' : 'none'
      }"
    >
      <app-sidebar-photos></app-sidebar-photos>
    </div>

    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Text' ? 'block' : 'none'
      }"
    >
      <sidebar-text></sidebar-text>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Music' ? 'block' : 'none'
      }"
    >
      <sidebar-music></sidebar-music>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Elements' ? 'block' : 'none'
      }"
    >
      <sidebar-elements></sidebar-elements>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Videos' ? 'block' : 'none'
      }"
    >
      <sidebar-videos></sidebar-videos>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display: ds.isToolpanel() ? 'block' : 'none'
      }"
    >
      <app-toolpanel></app-toolpanel>
    </div>
  </div>
</div>
