<div class="menu" (click)="menuClicked($event)">
  <div class="main-menu">
    <perfect-scrollbar
      class="scroll"
      [config]="{ suppressScrollX: true, wheelPropagation: false }"
    >
      <ul class="list-unstyled">
        <li
          *ngFor="let item of menuItems; let i = index"
          [ngClass]="{ active: !ds.isToolpanel() && i == theId }"
        >
          <a
            href="javascript:;"
            (click)="menuItemClicked($event, item, i)"
            style="font-size: smaller"
          >
            <i [ngClass]="item.icon" style="font-size: x-large"></i>
            {{ item.label }}</a
          >
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
  <div class="sub-menu" style="padding: 10px 20px">
    <div
      [ngStyle]="{
        height: '100%',
        display:
          !ds.isToolpanel() && theItem.label == 'Uploads' ? 'block' : 'none'
      }"
    >
      <user-uploads></user-uploads>
    </div>
    <div
      [ngStyle]="{
        height: '100%',
        display:
          !ds.isToolpanel() && theItem.label == 'Photos' ? 'block' : 'none'
      }"
    >
      <app-sidebar-photos></app-sidebar-photos>
    </div>

    <div
      [ngStyle]="{
        height: '100%',
        display: !ds.isToolpanel() && theItem.label == 'Text' ? 'block' : 'none'
      }"
    >
      <sidebar-text></sidebar-text>
    </div>

    <div
      [ngStyle]="{
        height: '100%',
        display: ds.isToolpanel() ? 'block' : 'none'
      }"
    >
      <app-toolpanel></app-toolpanel>
    </div>
  </div>
</div>
