<ng-container *ngIf="item.type == ItemType.image">
  <img
    [lazyLoad]="item.url"
    [defaultImage]="item.thumbnail"
    [ngStyle]="{
      width: '100%',
      height: '100%',
      border: 'none',
      filter: item.filter,
      webkitFilter: item.filter,
      clipPath: item.clipStyle
    }"
    [ngClass]="{
      flipX: item.flipX,
      flipY: item.flipY
    }"
  />
</ng-container>

<ng-container *ngIf="item.type == ItemType.text">
  <div
    contenteditable="true"
    [ngStyle]="{
      border: '1px solid red'
    }"
  >
    {{ item.text }}
  </div>
</ng-container>
