<div style="display: flex; align-items: center; position: relative">
  <div>
    <form id="fontForm" class="example-form" style="padding-right: 10px; max-width: 190px">
      <mat-form-field class="example-full-width">
        <mat-label>Font</mat-label>
        <input
          #font
          id="fontInput"
          type="text"
          aria-label="Number"
          matInput
          [formControl]="fontControl"
          [(ngModel)]="ds.theDesign.pages[moveableService.selectedPageId].items[moveableService.selectedItemId].fontFamily"
          style="cursor: pointer"
          [attr.disabled]="true"
        />
        <!-- [attr.disabled]="true" -->
      </mat-form-field>
    </form>
    <div id="fontSelector" style="position: absolute; top: 0; cursor: pointer" (click)="showFontList()"></div>
  </div>

  <form class="example-form" style="width: 60px">
    <mat-form-field class="example-full-width">
      <mat-label>Size</mat-label>
      <input
        #fontSizeInput
        id="fontSizeInput"
        type="number"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (keypress)="catchEnterKey($event)"
        (click)="showPanel()"
        (focus)="this.ds.isOnInput = true"
        (focusout)="this.ds.isOnInput = false"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected()">
        <mat-option *ngFor="let size of fontSizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div id="toolbar">
    <span class="ql-formats">
      <button class="ql-bold" id="bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color" style="top: -2px"></select>
      <select class="ql-background" style="top: -2px"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <select class="ql-align" style="top: -2px">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
      <div style="display: inline-flex; margin: 4px 3px 3px 3px; cursor: pointer">
        <img src="../../../../../assets/img/icons/lineHeight.png" width="16" height="16" alt="" (click)="setLineHeight()" />
        <div id="lineHeightContent" [ngStyle]="{ display: isShowLineHeight ? 'block' : 'none' }">
          <div style="display: flex; flex-direction: row">
            <div class="columnStyle">
              <span>Letter</span>
              <span>Line height</span>
            </div>
            <div style="max-width: 180px">
              <mat-slider style="min-width: 180px" [max]="800" [min]="-200" step="1" [(ngModel)]="letter" (input)="onLetterChange($event)">
              </mat-slider>
              <mat-slider style="min-width: 180px" [max]="2.5" [min]="0.5" step="0.01" [(ngModel)]="lineHeight" (input)="onLineHeightChange($event)">
              </mat-slider>
            </div>
            <div class="columnStyle">
              <input
                class="lineHeightInput"
                type="number"
                [(ngModel)]="letter"
                (focus)="this.ds.isOnInput = true"
                (focusout)="this.ds.isOnInput = false"
              />
              <input
                class="lineHeightInput"
                type="number"
                [(ngModel)]="lineHeight"
                (focus)="this.ds.isOnInput = true"
                (focusout)="this.ds.isOnInput = false"
              />
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>

  <div id="text-effect" (click)="showTextEffects()">Effects</div>
</div>
