<div style="display: flex; align-items: center">
  <form class="example-form" style="padding-right: 10px; max-width: 190px; cursor: pointer" (click)="showFontList()">
    <mat-form-field class="example-full-width">
      <mat-label>Font</mat-label>
      <input #font id="fontInput" type="text" aria-label="Number" matInput [formControl]="fontControl" style="cursor: pointer" disabled />
    </mat-form-field>
  </form>

  <form class="example-form" style="width: 60px">
    <mat-form-field class="example-full-width">
      <mat-label>Size</mat-label>
      <input
        #fontSizeInput
        id="fontSizeInput"
        type="number"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (keypress)="catchEnterKey($event)"
        (click)="showPanel()"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected()">
        <mat-option *ngFor="let size of fontSizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div id="toolbar">
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color" style="top: -2px"></select>
      <select class="ql-background" style="top: -2px"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <select class="ql-align" style="top: -3px">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
  </div>

  <div id="text-effect" (click)="showTextEffects()">Effects</div>
</div>
