<!-- <div style="display: flex; align-items: center">
  <button mat-button (click)="onBoldClick()">
    <mat-icon>format_color_text</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>format_bold</mat-icon>
  </button>
  <button mat-button>
    <mat-icon> format_italic</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>format_underlined</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>format_size</mat-icon>
  </button>
  <div class="vl"></div>
  <button mat-button>
    <mat-icon>format_line_spacing</mat-icon>
  </button>
  <div id="fontSettingContainer">
    <input type="number" id="setFontSize" />
    <mat-icon style="cursor: pointer">expand_more</mat-icon>
  </div>
</div> -->
<div id="toolbar">
  <span class="ql-formats">
    <select class="ql-size">
      <option value="small"></option>
      <option selected></option>
      <option value="large"></option>
      <option value="huge"></option>
    </select>
  </span>
  <!-- <button class="ql-bold"></button>
  <button class="ql-script" value="sub"></button>
  <button class="ql-script" value="super"></button> -->
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <select class="ql-align">
      <option selected></option>
      <option value="center"></option>
      <option value="right"></option>
      <option value="justify"></option>
    </select>
  </span>
  <!-- <span class="ql-formats">
    <button class="ql-blockquote"></button>
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-code-block"></button>
    <button class="ql-video"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-clean"></button>
  </span> -->
</div>
