<div class="menu" (click)="menuClicked($event)">
  <div class="main-menu">
    <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true }">
      <ul class="list-unstyled">
        <li
          *ngFor="let item of menuItems; let i = index"
          [ngClass]="{ active: i == theId }"
        >
          <a
            href="javascript:;"
            (click)="menuItemClicked($event, item, i)"
            style="font-size: smaller"
          >
            <i [ngClass]="item.icon" style="font-size: x-large"></i>
            {{ item.label }}</a
          >
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
  <div class="sub-menu">
    <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true }">
      <div style="text-align: center">
        <h2>{{ theItem.label }}</h2>
      </div>
    </perfect-scrollbar>
  </div>
</div>
