<div class="container-fluid" style="height: 100%" #host>
  <div
    [style]="{
      height: '50px',
      padding: '5px 20px',
      borderBottom: '1px solid ' + foreColor,
      display: 'flex',
      alignItems: 'center'
    }"
  >
    <app-toolbar style="width: 100%; height: 100%; display: flex; justify-content: space-between"></app-toolbar>
  </div>

  <div style="position: fixed; bottom: 20px; right: 20px; z-index: 100" dropdown [dropup]="true">
    <button dropdownToggle type="button" class="btn btn-outline-primary">
      {{ ds.zoomValue + '%' }}
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" style="height: 430px">
      <li role="menuitem" *ngFor="let option of zoomOptions" (click)="onSelectZoomOption('custom', option.value)" style="text-align: center">
        <a class="dropdown-item" href="javascript:;">{{ option.label }} </a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem" (click)="onSelectZoomOption('fit')" style="text-align: center">
        <a class="dropdown-item" href="javascript:;">Fit</a>
      </li>
      <li role="menuitem" (click)="onSelectZoomOption('fill')" style="text-align: center">
        <a class="dropdown-item" href="javascript:;">Fill</a>
      </li>
    </ul>
  </div>

  <div class="selecto-container" id="selecto-container">
    <div class="selecto-area" id="selecto-area">
      <div [ngStyle]="{ width: ds.page_vw + 'px' }">
        <div *ngFor="let page of ds.theDesign?.pages; let i = index" style="margin: 50px 0">
          <app-page [page]="page" [pageId]="i"></app-page>
        </div>

        <button class="btn btn-primary" style="width: 100%; margin-bottom: 50px" (click)="addPage()">Add Page</button>
      </div>
    </div>
  </div>
</div>
