<div id="designPanel" class="container-fluid" style="height: 100%" #host>
  <div
    [style]="{
      height: '50px',
      padding: '5px 20px',
      borderBottom: '1px solid ' + foreColor,
      display: 'flex',
      alignItems: 'center'
    }"
  >
    <app-toolbar style="position: relative; width: 100%; height: 100%; display: flex; justify-content: space-between"></app-toolbar>
  </div>

  <ng-container *ngIf="media.selectedMusic">
    <div class="rotateIcon" (click)="selectMusic()">
      <img
        [src]="media.selectedMusic.thumbnail != '' ? media.selectedMusic.thumbnail : '../../../../../assets/img/icons/music.png'"
        style="width: 36px; height: 36px; border: 1px solid transparent; border-radius: 100%"
        alt=""
      />
      <p style="margin-left: 5px; margin-bottom: 0; font-weight: 500">{{ media.selectedMusic.name }}</p>
    </div>
  </ng-container>

  <div style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; display: flex; align-items: center">
    <div dropdown [dropup]="true">
      <button dropdownToggle type="button" class="btn btn-outline-primary">
        {{ ds.zoomValue + '%' }}
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" style="height: 430px">
        <li role="menuitem" *ngFor="let option of zoomOptions" (click)="onSelectZoomOption('custom', option.value)" style="text-align: center">
          <a class="dropdown-item" href="javascript:;">{{ option.label }} </a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem" (click)="onSelectZoomOption('fit')" style="text-align: center">
          <a class="dropdown-item" href="javascript:;">Fit</a>
        </li>
        <li role="menuitem" (click)="onSelectZoomOption('fill')" style="text-align: center">
          <a class="dropdown-item" href="javascript:;">Fill</a>
        </li>
      </ul>
    </div>

    <div>
      <button
        onMouseOver="this.style.background='#26d6d4'"
        onMouseOut="this.style.background='#00aba9'"
        type="button"
        class="btn"
        style="width: 45px; height: 45px; padding: 0; background-color: #00aba9; margin: 0px 10px"
        (click)="showDownloadContent()"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" class="CZm3lA">
          <defs>
            <linearGradient x2="1" x1="0" y1="0" y2="0" id="__id25">
              <stop stop-color="rgb(255, 255, 255)" offset="100%"></stop>
              <stop stop-color="rgb(187, 243, 244)" offset="0%"></stop>
            </linearGradient>
          </defs>
          <path
            d="M 11.25 15.85 L 6.87 11.47 A 0.75 0.75 0 0 0 5.81 12.53 L 10.76 17.48 C 11.45 18.16 12.56 18.16 13.24 17.48 L 18.19 12.53 A 0.75 0.75 0 1 0 17.13 11.47 L 12.75 15.85 V 4.25 A 0.75 0.75 0 1 0 11.25 4.25 V 15.85 Z"
            fill="rgb(255, 255, 255)"
          ></path>
          <path
            d="M 3.75 20.75 A 0.75 0.75 0 1 1 3.75 19.25 Z M 20.25 19.25 L 3.75 19.25 L 3.75 20.75 L 20.25 20.75 Z M 20.25 19.25 A 0.75 0.75 0 1 1 20.25 20.75"
            fill="url(#__id25)"
          ></path>
        </svg>
      </button>
      <div id="downloadContent" [ngStyle]="{ display: this.moveableService.isShowDownload ? 'block' : 'none' }">
        <div style="display: flex; flex-direction: column">
          <label style="font-size: 12px; font-weight: 500">File type</label>
          <ng-select
            style="width: 280px; margin-bottom: 15px"
            appearance="outline"
            [searchable]="false"
            [clearable]="false"
            [items]="fileTypeItems"
            [(ngModel)]="selectedFileType"
            (change)="changeFileType($event)"
          >
          </ng-select>
          <mat-progress-bar *ngIf="this.downloadService.onDownloading" mode="indeterminate"></mat-progress-bar>
          <button class="btn btn-secondary" style="width: 100%; border-radius: 4px; font-weight: 500; margin-top: 15px" (click)="download()">
            Download
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="selecto-container" id="selecto-container">
    <div class="selecto-area" id="selecto-area">
      <div
        [ngStyle]="{ width: (ds.theDesign.category.size.x * ds.zoomValue) / 100 + 100 + 'px' }"
        style="display: flex; flex-direction: column; align-items: center; margin: auto"
      >
        <div *ngFor="let page of ds.theDesign?.pages; let i = index" style="margin: 50px 0px">
          <app-page [page]="page" [pageId]="i"></app-page>
        </div>

        <button
          class="btn btn-primary"
          [ngStyle]="{ width: (ds.theDesign.category.size.x * ds.zoomValue) / 100 + 'px' }"
          style="margin-bottom: 50px"
          (click)="addPage()"
        >
          Add Page
        </button>
      </div>
    </div>
  </div>
</div>
