<input
  class="form-control search-box"
  (keyup.enter)="onKeyUpSearch($event)"
  placeholder="Search by tag"
/>

<perfect-scrollbar
  style="height: calc(100% - 50px)"
  [config]="{ suppressScrollX: true, wheelPropagation: false }"
>
  <div #gridContainer class="grid-container">
    <img
      class="grid-item"
      *ngFor="let assetImage of assetImages; let i = index"
      [lazyLoad]="assetImage.thumbnail"
      [height]="heights[i]"
      width="auto"
      (click)="onImgClick(assetImage)"
      (dragstart)="onStartDrag($event, assetImage)"
    />
  </div>
</perfect-scrollbar>
