<ng-select
  style="margin: 10px 5px"
  [items]="tags"
  bindLabel="name"
  [placeholder]="'Search'"
  (change)="readImagesByTag($event)"
  (clear)="readImagesByTag('')"
  (focus)="this.ds.isOnInput = true"
  (blur)="this.ds.isOnInput = false"
>
</ng-select>

<perfect-scrollbar style="height: calc(100% - 50px)" [config]="{ suppressScrollX: true, wheelPropagation: false }">
  <div #gridContainer class="grid-container">
    <img
      class="grid-item"
      *ngFor="let assetImage of assetImages; let i = index"
      [lazyLoad]="assetImage.thumbnail"
      [height]="heights[i]"
      width="auto"
      (click)="onImgClick(assetImage)"
      (dragstart)="onStartDrag($event, assetImage)"
    />
  </div>
</perfect-scrollbar>
