.content {
  display: flex;
  padding: 10vh 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
}

pre {
  text-align: left;
}

html {
  background: #e8e9ec;
}

.dropzone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 200;
  box-sizing: border-box;

  // &.hovering {
  //   border: 2px solid #f16624;
  //   color: #dadada !important;
  // }

  .file-label {
    font-size: 1.2em;
  }
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
}

.grid-item {
  box-sizing: border-box;
  padding: 3px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #f16624;
  }
}
