<div style="display: flex">
  <button
    *ngIf="!authService.user"
    class="btn btn-outline-primary"
    style="margin: 5px; flex: 1"
    routerLink="/user/login"
  >
    Login/Signup
  </button>
</div>

<div
  *ngIf="authService.user"
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <div style="display: flex">
    <button
      class="btn btn-outline-primary"
      style="margin: 5px; flex: 1"
      (click)="fileInput.click()"
    >
      Upload from device
    </button>
    <input
      #fileInput
      style="display: none"
      type="file"
      multiple
      (change)="onDrop($event.target.files)"
    />
  </div>

  <perfect-scrollbar
    style="height: calc(100% - 50px)"
    [config]="{ suppressScrollX: true, wheelPropagation: false }"
  >
    <div *ngFor="let file of files">
      <upload-task [file]="file" [taskType]="'user_uploads'"></upload-task>
    </div>

    <div #gridContainer class="grid-container">
      <img
        class="grid-item"
        *ngFor="let assetImage of assetImages; let i = index"
        [lazyLoad]="assetImage.thumbnail"
        [height]="heights[i]"
        width="auto"
        (click)="onImgClick(assetImage)"
        (dragstart)="onStartDrag($event, assetImage)"
      />
    </div>
  </perfect-scrollbar>
</div>
