<div class="card auth-card">
  <div class="position-relative image-side"></div>
  <div class="form-side">
    <a class="c-pointer" routerLink="/">
      <span class="logo-single"></span>
    </a>

    <h2 class="mb-4">Login</h2>

    <div>
      <button (click)="googleAuth()" type="button" class="btn btn-outline-danger mb-5 mr-5">
        <span><img src="https://img.icons8.com/color/48/000000/google-logo.png" class="img-fluid mr-1" width="25" /></span>
        Google Signin
      </button>
      <button (click)="facebookAuth()" type="button" class="btn btn-outline-secondary mb-5 mr-5">
        <span><img src="https://i.imgur.com/URmkevm.png" class="img-fluid mr-1" width="25" /></span>
        Facebook Signin
      </button>
      <!-- <button type="button" class="btn btn-outline-primary mb-5 mr-5">
        <span><img src="https://img.icons8.com/color/48/000000/twitter.png" class="img-fluid mr-1" width="25"></span>
        Twitter Signin
      </button> -->
    </div>

    <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label mb-4">
        <input class="form-control" required email ngModel #email="ngModel" name="email" [(ngModel)]="emailModel" />
        <span>{{ 'user.email' | translate }}</span>
        <div *ngIf="!email.valid && loginForm.submitted" class="invalid-tooltip">Email is required!</div>
      </label>
      <label class="form-group has-float-label mb-4">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password" [(ngModel)]="passwordModel" />
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Password is required!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/register">{{ 'user.register-button' | translate }}?</a>.
        <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a>

        <app-state-button
          [btnClass]="'btn btn-primary btn-lg btn-shadow'"
          [currentState]="buttonState"
          [isDisabled]="buttonDisabled"
          click="onLoginClick()"
        >
          {{ 'user.login-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>
  </div>
</div>
<simple-notifications></simple-notifications>
