<div>Page {{ pageId + 1 }}: {{ page.title }}</div>
<div
  class="card"
  style="border-radius: 0%; overflow: visible"
  [ngStyle]="{
    width: ds.page_vw + 'px',
    height: ds.page_vh + 'px',
    boxShadow: pageId == ds.thePageId ? '' : 'none'
  }"
  (mousedown)="onClickPage()"
>
  <div
    [ngStyle]="{
      transformOrigin: 'top left',
      transform: 'scale(' + ds.zoomValue / 100 + ')'
    }"
  >
    <div
      style="position: absolute; overflow: hidden; pointer-events: all"
      [ngStyle]="{
        width: ds.pageW() + 'px',
        height: ds.pageH() + 'px'
      }"
    >
      <app-item *ngFor="let item of page.items" [item]="item"></app-item>
    </div>

    <div #moveableContainer style="position: absolute; overflow: visible">
      <app-target
        *ngFor="let item of page.items; let i = index"
        [item]="item"
        [pageId]="pageId"
        [itemId]="i"
      ></app-target>
    </div>
  </div>
</div>
