<div>Page {{ pageId + 1 }}: {{ page.title }}</div>
<div
  class="card"
  style="border-radius: 0%"
  [ngStyle]="{
    width: ds.page_vw + 'px',
    height: ds.page_vh + 'px'
  }"
  (click)="setActivePage()"
>
  <div
    [ngStyle]="{
      width: ds.pageW() + 'px',
      height: ds.pageH() + 'px',
      transformOrigin: 'top left',
      transform: 'scale(' + ds.zoomValue / 100 + ')'
    }"
  >
    <div
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: all;
      "
    >
      <app-item *ngFor="let item of page.items" [item]="item"></app-item>
    </div>

    <div
      #moveContainer
      style="position: absolute; width: 100%; height: 100%; overflow: visible"
    >
      <app-target
        *ngFor="let item of page.items; let i = index"
        [item]="item"
        [pageId]="pageId"
        [itemId]="i"
      ></app-target>
    </div>
  </div>
</div>
