<div style="display: flex; align-items: center">
  <ng-container
    *ngFor="
      let color of this.ds.theDesign.pages[this.moveableService.selectedPageId].items[this.moveableService.selectedItemId]['color'];
      let i = index
    "
  >
    <!-- <div
      [ngStyle]="{ backgroundColor: color }"
      style="width: 30px; height: 30px; margin: 3px; border: 1px solid #b3b3b3; cursor: pointer; border-radius: 2px"
    ></div> -->
    <div style="margin-left: 4px; margin-right: 4px; width: 30px; height: 30px; border-radius: 4px; overflow: hidden; border: 1px solid #b3b3b3">
      <input
        type="color"
        [(ngModel)]="this.ds.theDesign.pages[this.moveableService.selectedPageId].items[this.moveableService.selectedItemId]['color'][i]"
        (change)="changeElementColor($event)"
      />
    </div>
  </ng-container>
</div>
