<ng-container *ngIf="!ds.isStatus(ItemStatus.none); else defaultToolbar">
  <ng-container *ngIf="ds.isStatus(ItemStatus.image_selected)">
    <app-image-toolbar></app-image-toolbar>
  </ng-container>
  <ng-container *ngIf="ds.isStatus(ItemStatus.text_selected) || ds.isStatus(ItemStatus.text_font_list) || ds.isStatus(ItemStatus.text_effect)">
    <app-text-toolbar></app-text-toolbar>
  </ng-container>
  <ng-container *ngIf="ds.isStatus(ItemStatus.element_selected)" style="display: flex; align-items: center">
    <app-element-toolbar></app-element-toolbar>
  </ng-container>
  <!-- <button mat-button [matMenuTriggerFor]="menuPosition">Position</button>
  <mat-menu #menuPosition="matMenu" style="display: none">
    <button mat-menu-item (click)="ds.flipX()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M15.97 15.25h-2.72c-5.3 0-9.5-2.15-9.5-4.5s4.2-4.5 9.5-4.5c3.03 0 5.82.7 7.62 1.86a.75.75 0 1 0 .81-1.26c-2.06-1.33-5.13-2.1-8.43-2.1-6.02 0-11 2.55-11 6s4.98 6 11 6h2.8l-2.3 2.3a.75.75 0 1 0 1.07 1.05l2.83-2.82c.68-.69.68-1.8 0-2.48l-2.83-2.83a.75.75 0 0 0-1.06 1.06l2.21 2.22z"
        ></path>
      </svg>
      Flip horizontal
    </button>
    <button mat-menu-item (click)="ds.flipY()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M15.25 8.35v2.4c0 5.3-2.15 9.5-4.5 9.5s-4.5-4.2-4.5-9.5c0-3.03.7-5.82 1.86-7.62a.75.75 0 1 0-1.26-.81c-1.33 2.06-2.1 5.13-2.1 8.43 0 6.02 2.55 11 6 11s6-4.98 6-11V8.27l2.3 2.3A.75.75 0 1 0 20.1 9.5l-2.82-2.83a1.75 1.75 0 0 0-2.48 0L11.97 9.5a.75.75 0 1 0 1.06 1.06l2.22-2.22z"
        ></path>
      </svg>
      Flip vertical
    </button>
  </mat-menu> -->
</ng-container>
<ng-template #defaultToolbar>
  <div style="width: 100%; height: 100%; display: flex; justify-content: flex-end">
    <button mat-button (click)="showDimensionContent()">Dimension</button>
    <div id="dimensionContent" [ngStyle]="{ display: this.moveableService.isDimension ? 'block' : 'none' }">
      <div style="display: flex; flex-direction: column">
        <label style="font-size: 12px; font-weight: 500">Dimension</label>
        <div>
          <span style="margin-right: 10px">Width:</span>
          <input type="number" style="width: 50px; text-align: center" [(ngModel)]="theDesignWidth" />
          <span style="margin-left: 5px; margin-right: 50px">px</span>

          <span style="margin-right: 10px">Height:</span>
          <input type="number" style="width: 50px; text-align: center" [(ngModel)]="theDesignHeight" />
          <span style="margin-left: 5px">px</span>
        </div>
        <button class="btn btn-secondary" style="width: 100%; border-radius: 4px; font-weight: 500; margin-top: 15px" (click)="setDesign()">
          Resize design
        </button>
      </div>
    </div>
  </div>
</ng-template>
