<ng-container *ngIf="ds.isStatus(ItemStatus.image_selected)">
  <app-image-toolbar></app-image-toolbar>
</ng-container>
<ng-container *ngIf="ds.isStatus(ItemStatus.text_selected) || ds.isStatus(ItemStatus.text_font_list) || ds.isStatus(ItemStatus.text_effect)">
  <app-text-toolbar></app-text-toolbar>
</ng-container>
<ng-container *ngIf="ds.isStatus(ItemStatus.element_selected)" style="display: flex; align-items: center">
  <app-element-toolbar></app-element-toolbar>
</ng-container>
<ng-container *ngIf="ds.isStatus(ItemStatus.none)">
  <button mat-button style="display: flex; margin-left: auto" (click)="downloadToPdf()">
    <mat-icon>download</mat-icon>
    Download
  </button>
</ng-container>
