<div class="toolpanel" *ngIf="ds.isStatus(ItemStatus.image_preset)">
  <toolpanel-preset></toolpanel-preset>
</div>

<div class="toolpanel" *ngIf="ds.isStatus(ItemStatus.image_filter)">
  <toolpanel-filter></toolpanel-filter>
</div>

<div class="toolpanel" *ngIf="ds.isStatus(ItemStatus.text_font_list)" style="height: 100%">
  <toolpanel-font-list></toolpanel-font-list>
</div>

<div class="toolpanel" *ngIf="ds.isStatus(ItemStatus.text_effect)">
  <toolpanel-text-effects></toolpanel-text-effects>
</div>
