<div
  style="
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(100px);
    grid-row-gap: 50px;
    align-items: center;
  "
>
  <label>Brightness</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Contrast</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Saturate</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Sepia</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Grayscale</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Hue rotate</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Blur</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>

  <label>Invert</label>

  <nouislider
    [min]="0"
    [max]="150"
    [tooltips]="true"
    [step]="1"
    [(ngModel)]="sliderValue"
  ></nouislider>
</div>
