div::-webkit-scrollbar {
  width: 11px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: #aaa rgb(41, 48, 57);
}
div::-webkit-scrollbar-track {
  background: rgb(41, 48, 57);
}
div::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
  border: 3px solid rgb(41, 48, 57);
}
.musicContent:hover {
  background: rgba(255, 255, 255, 0.07);
  transition: 0.3s;

  .playIcon {
    display: block !important;
  }
}
